<div class="app-content content" style="margin-left: 0 !important;">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-body"><!-- Basic Inputs start -->
            <form action="adminsignin" method="post" class="basic-inputs" id="login">

                <div class="row match-height h-100">
                    <div class="col-xl-4 col-lg-6 col-md-12 mx-auto my-auto align-middle">
                        <div class="card" style="margin-top: 150px">
                            <div class="card-header">
                                <h4 class="card-title" style="text-align: center">Admin Login</h4>
                            </div>
                            <div class="card-block">
                                <div class="card-body"> Username
                                    <fieldset class="form-group">
                                        <input type="text" class="form-control" id="basicInput" name="username">
                                    </fieldset>
                                    Password
                                    <fieldset class="form-group">
                                        <input type="password" class="form-control" id="passwordField" name="password">
                                    </fieldset>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-min-width mr-1 mb-1 mx-auto">Publish</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

